/* src/components/table/Table.css */

/* Add styles to the body to set a background image */
body {
  background: url('https://t3.ftcdn.net/jpg/04/65/23/72/240_F_465237236_NKKcSkBbOuyCeB2IrMRlfiW9wmGKD4Ci.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Adjustments for small screens */
@media screen and (max-width: 768px) {
  .table-container {
    max-width: 90%;
    margin: 20px auto;
    margin-top: 75px;
  }
}

.table-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center; /* Center the content */
}

h6 {
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 50px;
  padding-left: 80px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  border: 2px solid #2c3e50;
  padding: 12px;
  text-align: left;
}

.custom-table th {
  background-color: #2c3e50;
  color: #ffffff;
}

.custom-table td {
  background-color: #ecf0f1;
  color: #333;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

